<div style="padding: 5px; text-align: center;{{#if bgColor}}background-color: {{bgColor}};{{/if}}">
    <span {{#if txtColor}}style="color: {{txtColor}};"{{/if}}>
	{{#eachOptions items}}
		{{#eq this.key ../value}}
				{{value}}
		{{/eq}}
	{{/eachOptions}}
	</span>
</div>